body{
    margin: 0;
    padding: 0;
    background-color: #e5e5f7;
    opacity: 87%;
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #d8d9eb, #d8d9eb 50%, #e5e5f7 50%);
    background-size: 10px 10px;
}

#allgames {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2%;
    margin: 2% 10%;
}

.game_container {
    display: grid;
}


#featured-games {
    display: flex;
    justify-content: center;
    padding: 3%;
    align-items: center;
    margin: 0;
}


#game:hover{
    transform: scale(1.08);
}

#featured-title{
    background-color: rgb(218, 218, 218);
    padding: 3%;
}

#featured-snippet {
    background-color: rgb(247, 246, 246);
    padding: 5%;
    font-size: small;
    overflow: hidden; /* Gemmer væk alt det der flyder udover containeren*/
    word-wrap: break-word; /*Hvis ordet er for stort bevæger det sig ned på næste linje */
}

.container-title{
    border: none;
    padding: 0;
    margin: 0;
    background-color: rgb(114, 114, 114);
}

.snippet{
    background-color: white;
}

#game img{
    aspect-ratio: 1 / 1;
    height: 100%;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    cursor: pointer;
}

#featured-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#featured-snippet{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/*
#rating{
    margin-top: -6%;
    border: none;
    display: flex;
    justify-content: center;
    background-color: rgb(218, 218, 218);
    color: orange;
    font-weight: bolder;
    font-size: 120%;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #4d4d4d;
    padding: 3%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
 */

#rating {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: orange;
    background-color: rgb(218, 218, 218);
    font-weight: bolder;
    margin: 0;
    min-width: 100%;
}
