body{
    margin: 0;
    padding: 0;
    background-color: #e5e5f7;
    opacity: 87%;
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #d8d9eb, #d8d9eb 50%, #e5e5f7 50%);
    background-size: 10px 10px;
}

#allgames {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2%;
    margin: 2% 10%;
}




#featured-games {
    display: flex;
    justify-content: center;
    padding: 3%;
    align-items: center;
    margin: 0;
}


#game:hover{
    transform: scale(1.08);
}

#featured-title{
    background-color: rgb(218, 218, 218);
    padding: 3%;
    margin:0;
}

#featured-snippet {
    background-color: rgb(247, 246, 246);
    padding: 5%;
    font-size: small;
    overflow: hidden; /* Gemmer væk alt det der flyder udover containeren*/
    word-wrap: break-word; /*Hvis ordet er for stort bevæger det sig ned på næste linje */
}

.container-title{
    border: none;
    padding: 0;
    margin: 0;
    background-color: rgb(114, 114, 114);
}

.snippet{
    background-color: white;
}

#game {
    aspect-ratio: 1 / 1;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#featured-title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#featured-snippet{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


#rating{
    margin-top: 0%;
    border: none;
    display: flex;
    justify-content: center;
    background-color: rgb(218, 218, 218);
    color: orange;
    font-weight: bolder;
    font-size: 100%;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #4d4d4d;
    padding: 0%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

#game_container:hover{
    transform: scale(1.08);
}

#titleLink{
    style: none;
}


.three{
    display:flex;
    justify-content: center;
    align-items: center;
}

.pageNum{
    margin-right: 1%;
}

.previousNext{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
}

.previous{
    margin-right: 3%;
}

.pageInfo{
    display:flex;
    justify-content: center;
}

.paginationContainer{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: solid black 1px;
    margin: 6% 40% 3% 40%;
    padding-bottom: 1%;
    background-color: #181818;
    border-radius: 10px;
}

.prevNumLink{
    color: whitesmoke;
    font-weight: bold;
}

.nextNumLink{
    color: whitesmoke;
    font-weight: bold;
}
.pageNumLink{
    color: whitesmoke;
    font-weight: bolder;
    border-color: whitesmoke;
    margin-left: 2%;

}

.filter-a{
    color: black;
}
#game_container {
    margin: 1%;
    padding: 1%;
    height: auto;
    width: auto;
    max-width: 285px;
    cursor: pointer;
    box-sizing: border-box;
}

#pictureLink{
    margin-bottom: -2px;
    padding: 0;
}
#searchDiv{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 3% 0;
}

#searchDiv form input[type="text"] {
    width: 30rem;
    padding: 10px;
    font-size: 16px;
}

#searchDiv form button {
    padding: 0.6rem;
    font-size: 16px;
}

.filter-links{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5% 10%;

}


