.wrapper {
    width: 60%;
    margin: auto;
}

.user-reviews {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2%;
}

.container{
    border: 0.1vh solid black;
    display: grid;
    padding: 1rem;
    font-size: small;
    width: fit-content;
    border-radius: 1rem;
}

.action-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: auto;
}

.reviewtitle {
    font-weight: bolder;
}
.review {
    margin-bottom: 10%;
    height: fit-content;
}

.review > * {
    margin-bottom: 2%;
}

.delete {
    padding: 2%;
    background: #d8504d;
    color: white;
    box-shadow: 1px 1px 1px black;
    min-width: 30%;
    border-radius: 0.3rem;
}

.save {
    padding: 2%;
    background: green;
    color: white;
    box-shadow: 1px 1px 1px black;
    min-width: 30%;
    margin: auto;
    border-radius: 0.3rem;
}


.edit {
    padding: 2%;
    background: #bd3f89;
    color: white;
    box-shadow: 1px 1px 1px black;
    min-width: 30%;
    border-radius: 0.3rem;
    opacity: 0.9;
}


.edited2 {
    resize: none;
    display: block;
    min-height: 200px; /* or any other value */
}

/* For the individual extension of admin users */

.all_games {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.game {
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
    text-align: center;
    border: 2px solid black;
    border-radius: 4%;
}

.game_image {
    aspect-ratio: 1 / 1;
    height: 50%;
    width: 50%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    cursor: pointer;
    align-self: center;
}

.game_title {
    font-weight: bolder;
}

.btns {
    flex: 1;
    text-align: center;
}
