body{
    margin: 0;
    padding: 0;
    background-color: #e5e5f7;
    opacity: 87%;
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #d8d9eb, #d8d9eb 50%, #e5e5f7 50%);
    background-size: 10px 10px;
    height: 100%;
    width: 100%;
}

.black-underbar{
    padding:0.04%;
    background-color: black;
}

.grid{
    display: grid;
    margin: 2% 0%;
    grid-gap: 2%;
    grid-template-columns: repeat(4,14.5rem);
    grid-template-rows: repeat(2,2fr);
    justify-content: center;
    transition: filter 0.3s ease;

}


.grid > div > img{
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border-radius: 2%;
}

.grid-item {
    position: relative; /*Placerer hover-effekten/kassen samt titlen og rating stjernene relativt til det specifikke grid*/
    overflow: hidden; /*Sørger for at tekst ikke ryger udover griddet*/
}

.grid-item:hover img {
    filter: brightness(0.6); /*Bestemmer filterets/hover-effektens styrke*/
}

.grid-item:hover .overlay {
    opacity: 1;
}

.grid-item:hover{
    transform: scale(1.02);
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.overlay-content {
    color: white;
    padding: 20px;
}

.image-title {
    font-size: 1.3rem;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 4%;
}

.rating-grid {
    color: orange;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
}

.hero {
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2%;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: x-large;
    margin: 5% 20%;

}

#action_buttons {
    justify-content: start;
    margin-right: 50%;
}

#get_started {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    height: 2.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgb(59 130 246);
    color: white;
}


#get_started:hover {
    background-color: rgb(6, 51, 121);
    transform: scale(1.1);
}

.headliner{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: -1;
    font-family: Arial, Helvetica, sans-serif;
    /*text-transform: uppercase;*/
    /*font-weight:bold;*/
    /*font-style: italic;*/
    /*font-size: 130%;*/
    /*background-image: linear-gradient(to left, rgba(255, 255, 255, 0), white 10%, white 90%, rgba(255, 255, 255, 0));*/
    /*padding:2%;*/
    margin-bottom: 4%;

    justify-content: center;
    align-items: center;
    text-align: start;
    font-size: x-large;
}

#highest_rated {
    width: 100%;
}

.game_collection {
    background-color: whitesmoke;
    width: 60%;
    margin: 2% auto;
    padding: 2% 0;
}

.rating{
    margin-top: -6%;
    border: none;
    display: flex;
    justify-content: center;
    background-color: rgb(218, 218, 218);
    color: orange;
    padding: 3%;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.featured-games {
    display: flex;
    justify-content: center;
    padding: 3%;
    align-items: center;
    margin: 0;
}

@media screen and (max-width: 768px) {
    .featured-games{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}

.game{
    margin: 1%;
    padding: 1%;
    height: auto;
    width: auto;
    flex: 1;
    max-width: 300px;
    cursor:pointer;
}

.game:hover{
    transform: scale(1.08);
}

h3.featured-title{
    background-color: rgb(218, 218, 218);
    margin-top: -2%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

p.featured-snippet {
    background-color: rgb(247, 246, 246);
    padding-top: 4%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 35%;
    margin-top: -6%;
    font-size: 95%;
    overflow: hidden; /* Gemmer væk alt det der flyder udover containeren*/
    display: -webkit-box; /*Til chrome og safari, denne linje gør at man kan bruge de næste 2 linjer*/
    -webkit-line-clamp: 3; /* Bestemmer hvor mange linjer der er tilladt før (...) */
    -webkit-box-orient: vertical; /* Gør at ekstra tekst bevæger sig nedad på næste linje*/
    word-wrap: break-word; /*Hvis ordet er for stort bevæger det sig ned på næste linje */
}

.container-title{
    border: none;
    padding: 0;
    margin: 0;
    background-color: rgb(114, 114, 114);
}

.snippet{
    background-color: white;
}

.game img{
    width: 100%;
    height: auto;
    width: 300px;
    height: 200px;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.featured-title{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1%;
}

.featured-snippet{
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 768px) {
    .tagline-container {
        font-size: 1.2rem;
    }

    .button {
        font-size: 24px;
        padding: 12px 24px;
    }
}


.tagline-container{
    width: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.tagline{
    background-image: linear-gradient(to right, orange,yellow);
    position: relative;
    text-transform: uppercase;
}

.tagline{
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container{
    background-color: grey;
    height: 10rem;
    width: auto;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    font-style: italic;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container-content{
    margin-bottom:20px;
    text-align:center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: black;
    padding: 10px;
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.button {
    display: inline-block;
    border-radius: 4%;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.4rem;
    text-transform:uppercase;
    padding: 1rem;
    width:10rem;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: -10px;

}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


.sign-up-button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 6px;
    font-size: 40px;
}
