.loginForm{
    width: 410px;
    padding: 30px;
    box-shadow: 0 0 8px rgba(0, 0, 0, .4);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #EFF2F1;
    font-family: 'Prompt';
    opacity: 87%;
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #000000, #111111 50%, Black 50%);
    background-size: 10px 10px;
}

body{
    margin: 0;
    padding: 0;
    background-color: #e5e5f7;
    opacity: 87%;
    background-image: radial-gradient( ellipse farthest-corner at 10px 10px , #d8d9eb, #d8d9eb 50%, #e5e5f7 50%);
    background-size: 10px 10px;
}

.loginForm .closebtn{
    position: absolute;
    top: 10px;
    right: 10px;
    margin: 10px 10px;
    font-size: 18px;
    cursor: pointer;
}

.loginForm .closebtn:hover{
    color: #7353ba;
}

.loginForm .text{
    font-size: 40px;
    text-align: center;
}

.loginForm form{
    margin-top: -30px;
}

.loginForm form .data{
    height: 45px;
    width: 100%;
    margin: 40px 0 55px;
}

form .data label{
    font-size: 20px;
    margin-left: 10px;
}

form .data input{
    border-radius: 15px;
    height: 100%;
    width: 100%;
    font-size: 18px;
    border: 1px solid black;
    font-weight: 300;
    font-family: 'Prompt';
    text-align: center;
}

form .forgot-password{
    margin: -15px 7px;
    padding-bottom: 10px;
}

form .forgot-password a{
    text-decoration: none;
    font-size: 15px;
    color: hsl(214, 100%, 56%)
}

form .forgot-password a:hover{
    text-decoration: underline;
}

form .btns{
    margin: 25px 0;
    height: 45px;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

form .btns .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    z-index: -1;
    background: #000000;
}

form .btns button{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'Black Ops One', cursive;
    background-color: #fa7921;
}

.break-line{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}

.line{
    flex-grow: 1;
    border: 1px solid #7a7d7d;
    margin: 0 10px 0;
}

.dot{
    font-size: 18px;
    text-transform: uppercase;
}

form .btns button:hover{
    background: #7353ba;
}
